*.env
/app/.env
app/.env
app/build
app/build/*
app/node_modules
app/node_modules/**
app/anthropic
app/dist
app/dist/*
build
build/*
notebooks/*
!notebooks/claude.py
!notebooks/post_recipes.ts
app/cloudflare
app/anthropic
/app/anthropic
fly_pg

# windsurf rules
.windsurfrules
