*.env
client/.env
/client/.env
client/build
client/build/*
/client/node_modules/*
client/dist
client/dist/*
build
build/*
notebooks/*
!notebooks/claude.py
!notebooks/post_recipes.ts
client/cloudflare
client/anthropic
/client/anthropic
fly_pg

# windsurf rules
.windsurfrules
