name: test_and_deploy
on:
    push:
        branches:
            - main
jobs:
    test_and_deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: erlef/setup-beam@v1
              with:
                  otp-version: "26.0.2"
                  gleam-version: "1.14.0"
                  rebar3-version: "3"
                  # elixir-version: "1.15.4"
            - uses: oven-sh/setup-bun@v2
            - uses: actions/setup-node@v6
              with:
                node-version: "24"
            - uses: extractions/setup-just@v3
            - run: just deploy
              env: # Or as an environment variable
                CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                INSTANT_ADMIN_TOKEN: ${{ secrets.INSTANT_ADMIN_TOKEN }}
